/*
| 1. Variables of one listener in app.scss and then others
|
|
|
 */

/*
|
|
|
|
 */

/* transition links menu */

/*
|
|
|
|
 */

/* montserrat-regular - latin */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/montserrat-v15-latin-regular.eot?0eb53b51fdb5c7aaf601d9b9ed1cabff);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/montserrat-v15-latin-regular.eot?0eb53b51fdb5c7aaf601d9b9ed1cabff) format("embedded-opentype"), url(/fonts/montserrat-v15-latin-regular.woff2?b71748ae4f80ec8c014def4c5fa8688b) format("woff2"), url(/fonts/montserrat-v15-latin-regular.woff?0659a9f4e90db5cf51b50d005bff1e41) format("woff"), url(/fonts/montserrat-v15-latin-regular.ttf?fa100f9f573bd66e56081c8bfa2d5818) format("truetype"), url(/fonts/montserrat-v15-latin-regular.svg?22d8566c41c8d731931b58ae64f72170) format("svg");
  /* Legacy iOS */
}

/* rubik-regular - latin */

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/rubik-v11-latin-regular.eot?9455eecd52a4bdca0bca2054f8a552e9);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/rubik-v11-latin-regular.eot?9455eecd52a4bdca0bca2054f8a552e9) format("embedded-opentype"), url(/fonts/rubik-v11-latin-regular.woff2?1d5a416e2889e382ab1af96fef09bd16) format("woff2"), url(/fonts/rubik-v11-latin-regular.woff?5a70b2bcb9dccb05fa3fa8732bdd52d1) format("woff"), url(/fonts/rubik-v11-latin-regular.ttf?97a6200eb05d71eba71167eb26113ef0) format("truetype"), url(/fonts/rubik-v11-latin-regular.svg?7830564a781795d6ceca367fa5968e16) format("svg");
  /* Legacy iOS */
}

/* abel-regular - latin */

@font-face {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/abel-v12-latin-regular.eot?093d3e23eae2bd94d466735e68aab202);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/abel-v12-latin-regular.eot?093d3e23eae2bd94d466735e68aab202) format("embedded-opentype"), url(/fonts/abel-v12-latin-regular.woff2?7f8f01ec368fe27136dcca6a8212d3da) format("woff2"), url(/fonts/abel-v12-latin-regular.woff?c733280485a4a9ae6e3c20cc38df2735) format("woff"), url(/fonts/abel-v12-latin-regular.ttf?a7f6d8d0e7a8a276f58cf9445e1194e5) format("truetype"), url(/fonts/abel-v12-latin-regular.svg?ca9ac8be659ae4d69593b6f25a061ff0) format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/open-sans-v18-latin-regular.eot?b9e56724ef49012eeb57bf453a940881);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/open-sans-v18-latin-regular.eot?b9e56724ef49012eeb57bf453a940881) format("embedded-opentype"), url(/fonts/open-sans-v18-latin-regular.woff2?f57a62e9efddf6ace18b15572f81905b) format("woff2"), url(/fonts/open-sans-v18-latin-regular.woff?347639ec49f4b2884a9657afded83ace) format("woff"), url(/fonts/open-sans-v18-latin-regular.ttf?cf6a34547195e0972978eab2aa4d2fb2) format("truetype"), url(/fonts/open-sans-v18-latin-regular.svg?1d0d8b66fa1da76d69b95b6d0ed5cca9) format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/roboto-v20-latin_cyrillic-regular.eot?2de0c3fff51ca8ba09b269ece5ed99db);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/roboto-v20-latin_cyrillic-regular.eot?2de0c3fff51ca8ba09b269ece5ed99db) format("embedded-opentype"), url(/fonts/roboto-v20-latin_cyrillic-regular.woff2?f3cc56e19e8c2b9706bd63a75c2d2291) format("woff2"), url(/fonts/roboto-v20-latin_cyrillic-regular.woff?3a9d859c0b19407fa725dbc9929526ff) format("woff"), url(/fonts/roboto-v20-latin_cyrillic-regular.ttf?1bfc1feecd499c8410a66f40379f9e85) format("truetype"), url(/fonts/roboto-v20-latin_cyrillic-regular.svg?4f862c8ba4ed785461ee30cf79232437) format("svg");
  /* Legacy iOS */
}

/*
|
|
|
|
 */

:active,
:focus,
:hover,
:visited {
  outline: 0;
}

body {
  background-color: #fff;
  font-family: "Open Sans";
  position: relative;
}

.wrap {
  min-height: 100vh;
}

.wrap-content {
  margin-left: 100px;
}

.content-head {
  background: no-repeat url(/images/prog.jpg?ec1c414ba1a21144e79d11a557fba02a) fixed;
  background-size: cover;
  height: 100vh;
}

#start {
  padding: 0 0 0 100px;
  display: none;
  position: absolute;
  top: 5%;
  left: 20%;
  color: #f5f5f5;
  font-size: 40px;
}

#example {
  padding: 0 0 0 100px;
  display: none;
  position: absolute;
  top: 20%;
  left: 35%;
  color: #ffb100;
}

#example .new {
  opacity: 0;
}

#example .div_opacity {
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Scroll bar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8a00), to(#da1b60));
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.25), inset -1px -1px -1px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track {
  background: linear-gradient(to right, #201c29, #201c29 1px, #100e17 1px, #100e17);
}

.progressBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 5px;
  background-color: tomato;
  border-radius: 5px;
}

/*  -------  */

/*
|
|
|
|
 */

.aside {
  position: fixed;
  height: 100vh;
  width: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #1e1e1e;
  border-right: 1px solid #fdf9f3;
}

.aside_logo {
  display: block;
}

.menu {
  position: relative;
  top: 10%;
  z-index: 1;
}

.menu a {
  text-decoration: none;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  display: block;
  margin-bottom: 20px;
}

.menu__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  fill: #f1e5d4;
  margin-bottom: 7px;
  transition: ease-in-out 0.5s;
}

.menu__link .fa {
  font-size: 40px;
}

.menu__text {
  font-family: "Roboto";
  font-size: 15px;
  transition: color 0.5s;
  letter-spacing: 0.5px;
  color: #f1e5d4;
  text-transform: uppercase;
}

.menu__link:hover,
.menu__text:hover {
  color: #ffb100;
  transition: ease-in-out 0.5s;
}

.menu .lang {
  margin: 40px 0 0px 0;
}

.menu .active {
  color: #ffb100;
}

.menu .language {
  position: relative;
}

.menu .language ul {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 100%;
  top: 120px;
}

.menu .language ul li {
  margin: 0;
}

.menu .language ul li a {
  margin: 0;
}

i:not(:root) {
  overflow: hidden;
}

i {
  display: block;
  overflow: visible;
}

/*
|
|
|
|
 */

.content {
  min-height: calc(100vh - 40px);
}


