/*
|
|
|
|
 */

:active,
:focus,
:hover,
:visited {
    outline: 0;
}

body {
    background-color: $background-body;
    font-family: 'Open Sans';
    position: relative;
}

.wrap {
    min-height: 100vh;
}

.wrap-content {
    margin-left: 100px;
}

.content-head {
    background: no-repeat url("../main_layout/images/prog.jpg") fixed;
    background-size: cover;
    height: 100vh;
}

#start {
    padding: 0 0 0 100px;
    display: none;
    position: absolute;
    top: 5%;
    left: 20%;
    color: #f5f5f5;
    font-size: 40px;
}

#example {
    padding: 0 0 0 100px;
    display: none;
    position: absolute;
    top: 20%;
    left: 35%;
    color: $color_menu_link;
}

#example .new {
    opacity: 0;
}

#example .div_opacity {
    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -ms-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
    opacity: 1;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom,
        from(#ff8a00),
        to(#da1b60)
    );
    box-shadow:
        inset 1px 1px 1px rgba(255,255,255,.25),
        inset -1px -1px -1px rgba(0,0,0, .25);
}

::-webkit-scrollbar-track {
    background: linear-gradient(to right, #201c29, #201c29 1px, #100e17 1px, #100e17);
}

.progressBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 5px;
    background-color: tomato;
    border-radius: 5px;
}
/*  -------  */
