/*
|
|
|
|
 */

.aside {
    position: fixed;
    height: 100vh;
    width: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #1e1e1e;
    border-right: 1px solid #fdf9f3;
}

.aside_logo {
    display: block;
}

.menu {
    position: relative;
    top: 10%;
    z-index: 1;

    a {
        text-decoration: none;
    }

    &__list {
        @include link;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        display: block;
        margin-bottom: 20px;
    }

    &__link {
        position: relative;
        @include link;
        user-select: none;
        text-align: center;
        fill: $color_menu_icon;
        margin-bottom: 7px;
        transition: $trans_time;

        .fa {
            font-size: 40px;
        }
    }

    &__text {
        font-family: 'Roboto';
        font-size: 15px;
        transition: color .5s;
        letter-spacing: .5px;
        color: $color_menu_icon;
        text-transform: uppercase;
    }

    &__link:hover, &__text:hover {
        color: $color_menu_link;
        transition: $trans_time;
    }

    .lang {
        margin: 40px 0 0px 0;
    }

    .active {
        color: $color_menu_link;
    }

    .language {
        position: relative;

        ul {
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            width: 100%;
            top: 120px;

            li {
                margin: 0;

                a {
                    margin: 0;
                }
            }
        }
    }
}

i:not(:root) {
    overflow: hidden;
}
i {
    display: block;
    overflow: visible;
}
